﻿
@{
    ViewData["Title"] = "Arnfield";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Duncan Arnfield, no degree or title</h2>

<p>My concentration is Information Technology, trying to focus on security and forensics. I hope to make enough to have a well-made kitchen, and to make good on effective </p>

