﻿
@{
    ViewData["Title"] = "Bennett";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Caleb J. Crockett</h2>

<p>My concentration is Information Systems with a focus in Accountancy. I would like to pursue analytics, big data, management, or anything else that may peak my intrest.</p>

