﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index of People</h2>

<ul>
    <li>
        <a asp-area="" asp-controller="People" asp-action="Arnfield">
            Duncan Arnfield
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="People" asp-action="Belcher">
            Joseph Belcher
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="People" asp-action="Bennett">
            Brian Bennett
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="People" asp-action="Blackman">
            Daniel Blackman
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="People" asp-action="Crockett">
            Caleb Crockett
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="People" asp-action="Hopkins">
            Justin Hopkins
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="People" asp-action="Johnson">
            M. Nicole Johnson
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="People" asp-action="Kelley">
            Colin Kelley
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="People" asp-action="Lawhorn">
            Miranda Lawhorn
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="People" asp-action="Noe">
            Joshua Noe
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="People" asp-action="Sherman">
            Nicholas Sherman
        </a>
    </li>
</ul>

