﻿
@{
    ViewData["Title"] = "Kelley";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Colin D. Kelley</h2>

<p>My name is Colin Kelley.I am a CS concentration, and I am interested in pursuing a career in Computer Science. I am wanting to eventually be a programmer, and maybe even a software engineer. I have always been interested in programming, and I decided to make a career of it.</p>

