﻿
@{
    ViewData["Title"] = "Noe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Joshua W. Noe</h2>

<h3>Concentration</h3>
<p>Information Technology</p>

<h3>Career Interests</h3>
<ul>
    <li>Web Development</li>
</ul>

