
@{
	ViewData["Title"] = "Bennett";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nicholas R. Sherman</h2>

<p>My concentration is computer science. My biggest goal is to eventually work in/with medical technology research teams to develop and create life saving medical software and hardware in the future.</p>