﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    East Tennessee State University<br />
    Box 70711<br />
    Johnson City, TN 37614
</address>

